{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{% static 'estilos.css' %}">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    </head>
    <body>
        <div class="container-fluid">
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                <a class="navbar-brand">LOGOBAKERY</a>
                <div >
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                            <a class="nav-link active" href="{% url 'gestionTienda:tiendas' %}">Tiendas</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'gestionTienda:productos' %}">Productos</a>
                        </li>
                    </ul>
    
                </div>
                
            </nav>
        </div>
        <div class="mt-5 text-center">
            <h1>Gestión de Tiendas</h1>
        </div>
        <div class="container mt-5">
            <div class="row justify-content-between">
                <div class="col-2">
                    <button class="btn btn-success" data-bs-toggle="modal" data-bs-target="#nuevaTienda">Crear Tienda <i class="fa-solid fa-plus"></i></button>
                </div>
                
            </div>
        </div>
        <br>
        <div class="mt-5 container">
            <div class="row justify-content-center">
                <div class="col-12">
                    <table class="table table-responsive table-bordered table-striped">
                        <thead class="thead-light">
                            <th class="text-center">Dirección</th>
                            <th class="text-center">Provincia</th>
                            <th class="text-center">Región</th>
                            <th class="text-center">Fecha Creación</th>
                            <th class="text-center">Teléfono</th>
                            <th class="text-center">Ver Productos</th>
                            <th class="text-center">Eliminar Tienda</th>
                        </thead>
                        <tbody>
                            {% for tienda in listaTiendas %}
                            <tr>
                                <td>{{ tienda.direccion }}</td>
                                <td class="text-center">{{ tienda.provincia }}</td>
                                <td class="text-center">{{ tienda.region }}</td>
                                <td class="text-center">{{ tienda.fechaCreacion }}</td>
                                <td class="text-center">{{ tienda.telefono }}</td>
                                <td class="text-center"><a class="btn btn-info" href="{% url 'gestionTienda:detalle' tienda.id %}"><i class="fa-solid fa-eye"></i></a></td>
                                <td class="text-center"><a class="btn btn-danger" href="#"><i class="fa-solid fa-trash"></i></a></td>
                                
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="modal fade" tabindex="-1" id="nuevaTienda" data-bs-backdrop="static" data-bs-keyboard="false">
            <div class="modal-dialog">
                <div class="modal-content">
                    <form method="post" action="{% url 'gestionTienda:tiendas' %}">
                        {% csrf_token %}
                        <div class="modal-header">
                            <h5 class="modal-title">Crear Tienda</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <div class="row form-group justify-content-center mb-3">
                                <div class="col-5">
                                    <label>Direccion</label>
                                    <input class="form-control" type="text" name="direccionTienda" required>
                                </div>
                                <div class="col-5">
                                    <label>Provincia</label>
                                    <input class="form-control" type="text" name="provinciaTienda" required>
                                </div>
                                <div class="col-5">
                                    <label>Region</label>
                                    <input class="form-control" type="text" name="regionTienda" required>
                                </div>
                                
                                <div class="col-5">
                                    <label>Telefono</label>
                                    <input class="form-control" type="number" name="telefonoTienda" required>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary">Crear Tienda</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </body>

</html>